<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="log.dir" value="${x.logger.dir}"></property>
	<property name="logger.level" value="${x.logger.level}"></property>
	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="rollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${log.dir}/faceye-search-web.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${log.dir}/faceye-search-web-log.%d{yyyy-MM-dd}.log</fileNamePattern>
		</rollingPolicy>
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>

	<!-- project default level -->
	<logger name="com.faceye" level="debug" />

	<!--log4jdbc -->
	<logger name="jdbc.sqltiming" level="${logger.level}"/>

	<root level="${logger.level}">
		<appender-ref ref="console" />
		<appender-ref ref="rollingFile" />
	</root>
</configuration>